{% extends 'base.html' %}
{% block title %}{{ block.super }}-About{% endblock title %}
{% block content %}

<!-- 
    ######################## ABOUT SECTION #########################
 -->


<div class="container">
  <h1>About Page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet felis ut commodo rhoncus. Ut
    sollicitudin ex in quam feugiat tempus. Quisque non lacus facilisis, molestie sapien vitae, auctor ante. Ut finibus
    sollicitudin ante id elementum. Nulla turpis lorem, facilisis a consectetur ac, hendrerit sed ligula. Praesent ac
    mauris interdum, commodo dolor vitae, convallis erat. Ut ante elit, placerat nec lacinia ut, eleifend eget velit.
    Phasellus vel enim sagittis turpis faucibus luctus ut scelerisque justo. Nulla luctus cursus orci non auctor. Nullam
    a enim consequat, sagittis eros eget, accumsan turpis. Maecenas efficitur mollis nunc, ornare venenatis augue
    dignissim at. Phasellus feugiat odio eget dui vulputate viverra. Ut felis sapien, mattis id sem nec, cursus
    imperdiet tellus. Sed iaculis est turpis, vitae ullamcorper lorem consequat vitae.

    nec purus posuere, feugiat ante lobortis, dictum metus. Aenean elementum orci sed tortor convallis fermentum.
    Vestibulum a nisl viverra, cursus nunc id, feugiat nulla. Phasellus eget pharetra ante, non ultricies nunc. Cras eu
    sollicitudin velit. Morbi sit amet ex nibh. Sed quis orci mattis, iaculis purus vehicula, iaculis augue. Phasellus
    pellentesque lobortis sagittis. In tristique elementum sapien sed suscipit.

    Donec risus sapien, pretium eget magna et, dapibus lacinia mi. Integer turpis velit, eleifend at aliquam a, commodo
    quis nisl. Pellentesque lobortis sollicitudin lacus, sit amet vulputate velit ultrices sed. Praesent tempor quam
    venenatis, finibus elit et, posuere quam. In augue mauris, efficitur in nisi ornare, lobortis pulvinar sem. Etiam
    fringilla blandit libero, in bibendum libero finibus id. Nullam sodales dictum ipsum, vel accumsan nulla interdum
    vehicula. Mauris tempus lorem nec convallis tempus. Donec malesuada tristique nulla. Suspendisse potenti. Donec
    felis urna, dapibus ut placerat a, mattis id orci. Etiam ultricies sed est a viverra. Duis venenatis sit amet nunc a
    feugiat. Donec vestibulum dui in pellentesque finibus.</p>
</div>
{% endblock content %}