{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}{{ block.super }}-About{% endblock title %}
{% block content %}

{% static 'static/image/about.jpg' as img %} 

<!-- 
    ######################## ABOUT SECTION #########################
 -->

<div class="container">
  <h2 style="text-align:center;" class="text-muted">About Us</h2><br>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet felis ut commodo rhoncus. Ut
    sollicitudin ex in quam feugiat tempus. Quisque non lacus facilisis, molestie sapien vitae, auctor ante. Ut finibus
    sollicitudin ante id elementum. Nulla turpis lorem, facilisis a consectetur ac, hendrerit sed ligula. Praesent ac
    mauris interdum, commodo dolor vitae, convallis erat. Ut ante elit, placerat nec lacinia ut, eleifend eget velit.
    Phasellus vel enim sagittis turpis faucibus luctus ut scelerisque justo. Nulla luctus cursus orci non auctor. Nullam
    a enim consequat, sagittis eros eget, accumsan turpis. Maecenas efficitur mollis nunc, ornare venenatis augue
    dignissim at. Phasellus feugiat odio eget dui vulputate viverra. Ut felis sapien, mattis id sem nec, cursus
    imperdiet tellus. Sed iaculis est turpis, vitae ullamcorper lorem consequat vitae.

    vehicula. Mauris tempus lorem nec convallis tempus. Donec malesuada tristique nulla. Suspendisse potenti. Donec
    felis urna, dapibus ut placerat a, mattis id orci. Etiam ultricies sed est a viverra. Duis venenatis sit amet nunc a
    feugiat. Donec vestibulum dui in pellentesque finibus.</p>
</div>
{% endblock content %}