{% extends 'base.html' %}
{% load thumbnail %}
{% block  title %}{{ block.super }}-{{ object.user }}-profile{% endblock title %}
{% block content %}

<div class="card" style="width: 35rem; border: 3px solid #28a745;">
        <div class="card-body">
                {% thumbnail object.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail">
            {% endthumbnail %}
            <p>{{ object.user }}</p>
            Post: <a href="{% url 'blog:mark-user-home-page' username=object.user.username %}">{{ object2.count }}</a>
        </div>
</div><br>
{% endblock content %}